#dashboard-page .panel-card .panel-body {
    padding: 15px 0;
    min-height: 321px;
}

#dashboard-page .panel-body.projects-card {
    padding: 15px;
}

#dashboard-page .panel-body.projects-card .title {
    font-size: 15px;
    font-weight: bold;
    line-height: 31px;
    text-align: center;
}

#dashboard-page .panel-body.projects-card #projectsTab {
    display: flex;
    justify-content: space-between;
}

#dashboard-page .panel-body.projects-card #projectsTab .nav-link {
    padding: 0 10px;
    font-size: 11px;
}

#dashboard-page .panel-body.projects-card #projectsTabContent .project-name {
    height: 240px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#dashboard-page .panel-body.projects-card #projectsTabContent .project-name ol {
    margin: 0;
    padding: 15px;
}